
[buildout]

parts =
    zope2
    instance
    zopepy

find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads

eggs =
    elementtree
    lxml
    sqlalchemy

develop =
    src/zc.comment
    src/zc.authorizedotnet
    src/zc.table
    src/zc.resourcelibrary
    src/ore.member
    src/ore.alchemist
    src/getpaid.core
    src/getpaid.processor.googlecheckout

#   getpaid.processor.authorizedotnet
#   getpaid.plone
#   getpaid.catalog
#   getpaid.donations
#   getpaid.
# 
[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.9.7/Zope-2.9.7-final.tgz

# svn = svn://svn.zope.org/repos/main/Zope/branches/2.9

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
debug-mode = on
eggs =
    ${buildout:eggs}
    zc.resourcelibrary
    zc.table
    ore.member
    ore.alchemist
    getpaid.core
    getpaid.processor.googlecheckout

products =
    ${buildout:directory}/develop-products
    ${buildout:directory}/develop-plone
    ${buildout:directory}/develop-debug

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
